<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Notes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" th:src="@{/js/src/requests.js}"></script>
</head>

<body class="gray-bg">
<div class="container">
    <div class="col-md-12 text-center" position="center">
        <h1>My notes</h1>
        <a href="/home" class="btn btn-primary">Home</a>
        <a href="/logout" class="btn btn-primary">Logout</a>
        <div class="container" style="width: 20rem; height: 5rem;"></div>
        <form autocomplete="off" action="#" th:action="@{/newNote}" th:object="${noteDTO}" method="post">
            <div class="card" style="position: center;">
                <h2>New Note</h2>
                <p>Please fill in this form to create a new note.</p>
                <label for="name"><b>Title</b></label>
                <p></p>
                <input type="name" id="name" placeholder="Enter the title of the Note" name="name" required>
                <p></p>
                <textarea  id="description" placeholder="Write your note here" name="description" rows="10" columns="50"></textarea>
                <hr>
                <!--<div class="container"> -->
                    <button type="submit" class="btn btn-primary" width="5rem">Create</button>
                <!--</div> -->
            </div>
        </form>
    </div>

    <div class="container">
        <div class="card-body" th:each="note : ${notes}">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title" th:text="${note.name}">Note title</h5>
                <p class="card-title" th:text="${note.date}"></p>
                <textarea th:id="${note.id}" class="card-text" th:text="${note.description}"></textarea>
                <div class="btn-group" style="width:100%">
                    <div class="btn btn-primary btn-block">
                        <form action="#" th:action="@{'myNotes/delete/{id}'(id=${note.id})}"  method="post">
                            <button class="btn btn-primary btn-block" type="submit" id="submitButton">Delete</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>