<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="gray-bg">

<form autocomplete="off" action="#" th:action="@{/createAccount}" th:object="${accountDTO}" method="post">
    <div class="container">
        <div class="col-md-12 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Evernote.svg" alt="MyEvernote" width="400" height="400">
            <h1>MyEvernote</h1>
            <h3>Register</h3>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="username"><b>Username</b></label>
            <input type="username" id="username" name="username" placeholder="username">
            <label for="email"><b>Email</b></label>
            <input type="email" id="email" name="email" placeholder="email">
            <label for="password"><b>Password</b></label>
            <input type="password" id="password" placeholder="Enter Password" name="password" required>
            <label for="password_repeat"><b>Repeat Password</b></label>
            <input type="password" id="password_repeat" placeholder="Repeat Password" name="password_repeat" required>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>

<div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
</div>
</form>

</body>
</html>